#contactPage {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactPageTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.clientDesc {
    font-weight: 300;
    font-size: 1rem;
}

/* Container Styles */
.clientImgs {
    overflow: hidden; /* Hide overflowing content */
    position: relative; /* Necessary for absolute positioning of the wrapper */
    width: 100%; /* Full width of the container */
}

/* Marquee Wrapper */
.clientImgWrapper {
    display: flex; /* Flexbox ensures images line up horizontally */
    width: 200%; /* Set width to twice the container width */
    animation: marquee 20s linear infinite; /* Adjust timing for smoother scrolling */
}

/* Image Styles */
.clientImg {
    object-fit: cover;
    width: 10%; /* Adjust width to make images smaller */
    min-width: 5rem; /* Ensure images are not too small */
    padding: 0.25rem;
    margin-right: 1rem; /* Add space between images */
    flex-shrink: 0; /* Prevent images from shrinking */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .clientImg {
        width: 15%; /* Increase width for mobile */
        min-width: 4rem; /* Decrease min-width */
    }
}

/* Marquee Animation */
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


.contactPageDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(40, 40, 40);
}

.submitBtn {
    background: white;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align social icons horizontally */
}

.link {
    object-fit: cover;
    height: 2.5rem; /* Adjust size for mobile */
    width: 2.5rem; /* Adjust size for mobile */
    margin: 0 0.75rem;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .link {
        height: 2rem; /* Smaller social icons on mobile */
        width: 2rem; /* Smaller social icons on mobile */
    }
   
}
